name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.13.0
          
      - name: Check Formatting
        run: zig fmt --check .
        
      - name: Build
        run: zig build
        
      - name: Run Unit Tests
        run: zig build test
        
      - name: Run Integration Tests
        run: bash scripts/integration.sh
